.aud-text-wrap th, .aud-text-wrap td, .aud-text-wrap tr {
	padding: 15px 10px;
}
#audio-form td span {
	display: block;
}
.aud-text-wrap .container {
	max-width: 100%;
	padding: 0;
}
.aud-text-wrap tr {
	border-bottom: 1px solid #ddd;
}
.aud-text-wrap table {
	margin-top: 0 !important;
}
.aud-text-wrap th {
	border-right: 1px solid #ddd;
}
span.err-txt {
    color: red;
}
button.remove_row.btn.button.btn-close {
    background-color: red;
    border: 1px solid #ffff;
    color: #fff;
    border-radius: 5px;
    text-align: left;
    float: right;
}

.show-aud:after, .show-txt:after {
	content: attr(title);
    display: inline-block;
    position: absolute;
    background-color: black;
    color: #fff;
    padding: 1px 5px;
    margin-left: 15px;
    font-size: 12px;
}